<div fxLayout="column" fxFlex style="height: 100%;width: 100%;">
    <mat-toolbar class="toolbar">
        <div fxFlex=25 >
            <img src="../../../assets/bookLogo.png">
            <span routerLink="/dashboard/books" style="cursor: pointer;">Bookstore</span>
        </div>
        <div fxFlex=50 class="searchIconBox">
            <a>
                <mat-icon class="headerIcon">search</mat-icon>
            </a>
            <input type="text" placeholder="Search..." class="searchbox">
        </div>

        <a fxFlex=10 class="profileIcon" mat-button [matMenuTriggerFor]="menu">
            <mat-icon class="icon" style="display: block;">perm_identity</mat-icon>
            <span> Profile</span>

            <mat-menu class="matmenu" #menu="matMenu" >
                <div class="dropdownmenu">
                    <h3>Hello User!</h3>
                    <button class="dropWishBtn" fxLayout="row" fxLayoutAlign="center center" routerLink="/dashboard/wishlist">
                        <mat-icon>favorite_border</mat-icon> <span> My Wishlist</span>
                    </button>
                    <div>
                        <button class="logoutBtn" (click)="Logout()">Logout</button>
                    </div>
                </div>
            </mat-menu>
        </a>


        <a fxFlex=10 class="cartIcon">
            <mat-icon class="icon" style="display: block;" routerLink="/dashboard/cart">shopping_cart</mat-icon>
            <span> Cart</span>
        </a>

    </mat-toolbar>

    <div>
        <router-outlet ></router-outlet>
    </div>

    <footer class="footer">
        Copyright &copy; 2022 Bookstore Private Limited All Rights Reserved
    </footer>

</div>