.toolbar {
    background-color: #A03037;
    color: antiquewhite;
    display: block;
    width: 100%;
    padding: 0 60px;
}
.toolbar img {padding-right: 5px;}
.searchIconBox {position: relative;}
.searchbox {
    background-color: #fff;
    width: 80%;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding-left: 50px;
    font-size: 14px;
}
.searchbox:focus, input:focus{
    outline: none;
    background: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 5px;
}
.searchIconBox .headerIcon {
    position: absolute;
    top: 23%;
    left: 2%;
    cursor: pointer;
    color: #b9b6b6;
}
.profileIcon, .cartIcon {
    text-align: end;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
}
.cartIcon .mat-icon, .profileIcon .mat-icon {
    margin-left: auto;
    padding-top: 10px;
}
.profileIcon .mat-icon {margin-right: 10px;}
.footer {
    background-color: #4e3133;
    color: #fff;
    overflow-x: hidden;
    padding: 12px 60px;
    align-items: center;
}
.dropdownmenu {
    padding: 15px 22px;
    width: 160px;
}
.dropdownmenu h3 {
    font-weight: 500;
    margin-bottom: 5px;
}
.dropWishBtn {
    background: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    margin-bottom: 10px;
}
.dropWishBtn .mat-icon {
    font-size: 18px;
    line-height: 25px;
}
.logoutBtn {
    border: 1px solid #A03037;
    color: #A03037;
    background: #fff;
    border-radius: 2px;
    width: 100px;
    height: 25px;
    margin-top: 14px;
    cursor: pointer;
}

