
<div style="background-color: grey;">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
        <div fxLayout="row" class="loginSection">
            <div class="leftCard" fxHide.xs>
                <mat-card>
                    <img src="../../../assets/loginPageImg.png">
                    <h4>Online Book Shoping</h4>
                </mat-card>
            </div>
            <div class="rightCard">
                <mat-card>
                    <div fxLayoutGap="30%">
                        <a href="#" class="btn" type="button" routerLink="/login">LOGIN</a>
                        <a href="#" class="btn" type="button">SIGNUP</a>
                    </div>
                    <div>
                        <span >Full Name</span>
                        <input type="text" matInput [(ngModel)]="fullName">
                    </div>
                    <div>
                        <span >Email Id</span>
                        <input type="text" matInput [(ngModel)]="email">
                    </div>
                    <div>
                        <span >Password</span>
                        <input type="text" matInput [(ngModel)]="password">
                    </div>
                    <div>
                        <span >Mobile Number</span>
                        <input type="text" matInput [(ngModel)]="number">
                    </div>
                    <button class="loginBtn"  (click)="onSubmit()" style="margin-top:20px">SignUp</button>

                </mat-card>
            </div>
        </div>
    </div>
</div>
