<div class="orderPlaced">
    <div fxLayout="column">
        <div fxLayoutAlign="center center">
            <img src="../../../assets/orderPlacedImg.png">
        </div>
        <p class="para">  hurray!!! your order is confirmed<br> the order id is #641326 save the order id for<br> further
            communication..
        </p>
        <div fxLayoutAlign="center center">
            <table>
                <tr>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Address</th>
                </tr>
                <td>aswintester@gmail.com</td>
                <td>+91 9998887770</td>
                <td class="addressbox">42, 14th Main, 15th Cross, Sector4, opp to BDA <br> complex, near kumarakom
                    restaurant, HSR Layout, Bangalore 560034
                </td>
            </table>
        </div>
        <div style="margin: auto;">
            <button class="continueShopBtn" routerLink="/dashboard/books">CONTINUE SHOPPING</button>
        </div>
    </div>
</div>
